<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- No cache configuration for development purposes [Delete these on release]-->
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />

    <!-- 
        Format for adding stylesheets:
    
        <link rel="stylesheet" href="/public/css/<filename>.css">
     -->
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/main.css">
    <link rel="stylesheet" href="/public/css/home.css">    
    <link rel="stylesheet" href="/public/css/scan.css">    
    <link rel="stylesheet" href="/public/css/navbar.css"> 
    <link rel="stylesheet" href="/public/css/withdraw.css">    
     
    <title> <%= title %> </title>
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/nicolaspanel/numjs@0.15.1/dist/numjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>
<body>