<nav class="navibar container-fluid">
    <ul class="link-box d-flex flex-row">
        <li class="col-2 link-shelf">
            <a class="navibar-link" href="/"><h3>Home</h3></a>
        </li>
        
        <li class="col-2 link-shelf">
            <a class="navibar-link" href="/scan"><h3>Scan</h3></a>
        </li>
        
        <li class="col-3 link-shelf">
            <a class="navibar-link" href="/withdraw"> <h3>Withdraw</h3></a>
        </li>

    </ul>
</nav>