<%- include('partials/header') %>

<!-- content of the body: -->
<script>
  var user = JSON.parse(`<%= user %>`)
</script>
<div class="card d-flex flex-column">
  <%- include('partials/navbar') %>
  <div class="card-earnings">
    <div class="container-fluid">
      <div class="card-points d-flex justify-content-center align-items-center">
        <h5 class="">Your total earnings: <b id="earnings">0</b> </h5>
      </div>
    </div>
    <div class="card-graph container-fluid p-3 mt-4">
      <h3 class="title">GRAPHS</h3>
      <div class="card-graph-box d-flex flex-row justify-content-center ">
        <div class="col-12 card-graphs card-graph-bar">
            <!-- bar graphs -->
            <canvas id='card-bar-graph' width="90%" height="90%"></canvas>
        </div>
  
        <div class="col-6 card-graphs card-graph-pie">
            <!-- pie graphs -->
            <canvas id='card-pie-graph' width="90%" height="90%"></canvas>
        </div>
      </div>
    </div>
    
  </div>
</div>

<%- include('partials/footer') %>
