:root{
  --primary-color: #ffeaa7;
  --secondary-color: #2d3436;
  --text-color: #ecf0f1;
  --active-color: #f1c40f;
}

body{
  width: 100vw;
  height: 100vh;

  padding: 0%;
  box-sizing: border-box;
  line-height: 1;

  background-color: var(--primary-color);
  display: flex;
}

a{
  text-decoration: none;
  color: var(--text-color);
}


ul, li{
  text-decoration: none;
  list-style: none;
  text-align: center;
}


li:hover, a:hover{
  color: var(--primary-color);
  border-bottom: 3px solid var(--primary-color);
}

.title{
  letter-spacing: 5px;
}

/* * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  body {
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(34, 33, 33);
    color: white;
  }
  ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    font-weight: bold;
  }
  
  li:hover{
    
  }
  
  .panel {
    width: 55%;
    margin: auto;
    margin-top: 20px;
  }
  .container {
    border: 1px solid gray;
    display: flex;
    height: 100vh;
    margin: auto;
    width: 85%;
    margin-top: 30px;
    border-radius: 10px;
    background: rgb(15, 13, 15);
  }
  .container > div {
    margin: 5px;
  }
  .left-scan {
    flex: 2;
    display: flex;
    flex-direction: column;
  }
  
  .left-scan > div {
    border: purple solid 2px;
  }
  .scan-pic {
    height: 70vh;
    width: 90%;
    margin: auto;
    border: rgb(226, 221, 221) solid 2px;
    margin-top: 20px;
    background: gray;
  }
  .description {
    height: 20vh;
    width: 70%;
    margin: auto;
    margin-top: 20px;
  }
  .rigth-for-btn {
    flex: 1;
    display: flex;
    flex-direction: column;
  
    border: 2px solid red;
    padding: 30px;
  }
  .rigth-for-btn > div {
    margin: 10px;
  }
  
  .human-effect {
    width: 95%;
    height: 45vh;
    border: 2px solid gray;
    padding: 7px;
    background: #421e53;
  }
  .environmental-effect {
    width: 95%;
    height: 45vh;
    border: 2px solid gray;
    padding: 7px;
    background: #421e53;
  }
   */