<div class="container">
    <div class="left-scan">
      <div class="panel">
        <ul>
          <li class="Home">HOME</li>
          <li class="scan">SCAN</li>
          <li class="withdraw">WITHDRAW</li>
        </ul>
      </div>
      <div class="scan-pic">
       <script src="bund.js"></script>
      </div>
      <div class="description">
        <h2>Chemical Control</h2>
        <p>carbon chuchu</p>
        <p>sulfur chuhcu</p>
      </div>
    </div>
    <div class="rigth-for-btn">
      <div class="human-effect">
        <h3>Human Effect</h3>
      </div>
      <div class="environmental-effect">
        <h3>Environmental Effect</h3>
      </div>
    </div>
  </div>
