<%- include('../partials/header') %>

        
        <div class="with d-flex flex-column">
          
          <%- include('../partials/navbar') %>
      
      <br><br>
      <div class="container-fluid" >
            <div class="container-fluid">
              <div class="card-token d-flex justify-content-center align-items-center">
                <h5 class="token">Your Tokens: <b id="Tokens">310</b> </h5>
              </div>
            </div>
            <div class="container-fluid">
              <div class="card-amount d-flex justify-content-center align-items-center">
                <h5 class="">Total Amount: <b id="Amount">31</b> </h5>
              </div>
            </div>
            <div class="container-fluid d-flex justify-content-center align-items-center">
              <button class="with_button" id="Exchange"><span>Cashout</span></button>
          </div>     
          </div>
            <br>
             <hr>
             <div class="col-12 card-withdraw">
              <div class="card-withdraw-info-box container-fluid d-flex flex-row align-items-start justify-content-center">
                  <div class="col-6 card-withdraw-info">
                      <!-- video conts -->                      
                        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/_6xlNyWPpB8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
                  </div>

                  <div class="col-6 card-withdraw-info">
                    <h4 class="title">What will be the Benefits?</h4>
                    <div class="info-descrip" >
                      <p>
                        <%= output1.Benefit %>
                      </p>
                    </div>
                  </div>
                  
              </div>
            </div>
           

        
      </div>
        
      
        <%- include('../partials/footer') %>